/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$red : #A71D31;
$gray : #787878;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


ol,ul{
	padding-left: 20px;
	list-style: normal;
}

.pageView{
	padding: 0 15px;
	.croppingTool{
		margin-top: 15px;
	}
}
.zoom {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* For the input validation */
.item-floating-label {
	position: relative;
	input {
		width: 100%;
    border: 1px solid rgba(120, 120, 120, 0.5);
    padding: 10px 15px;
    background: #FFF;
    color: #000000;
    line-height: normal;
    height: 40px;
    font-size: 16px;
    //font-family: "HelveticaNeue-Light";
    &::-webkit-input-placeholder {
	    color:#999;
		}
		&:-moz-placeholder {
	    color:#999;
		}
		&::-moz-placeholder {
	    color:#999;
		}
		&:-ms-input-placeholder {
	    color:#999;
		}
	}
	input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}
	.input-label {
		position: absolute;
		font-size: 10px;
		padding: 6px 0 0 15px;
		width: auto;
		top: 5px;
		display: inline-block;
		&.has-input {
			top: 2px;
			+ input, + input + input {
				padding: 20px 2px 3px 15px;
				font-size: 14px;
			}
		}
	}
	input {
		transition: all 0.15s ease-in;
		-webkit-transition: all 0.15s ease-in;
	}
	&.error-floating {
		.input-label {
			color: $red;
		}
		input {
			border-top: 2px solid $red;
			color: $red;
			background-color: rgba(red, .1)
		}
	}
	&.success-floating {
		.input-label {
			&:after {
				display: block;
				content: '\f122';
				font-family: "Ionicons";
				position: absolute;
				top: 0;
				right: -15px;
				top: 7px;
				color: green;
			}
		}
		input {
			border-top: 1px solid rgba($gray, 0.5);
		}
	}
}
/* End of input validation */

/* For JR-Image-Crop */
.modelView {
  background: none;
}
.croppingArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #ececec;
  .popBtnHldr{
  	margin-top: 15px;
  	a{
  		margin-right: 15px;
  	}
  }
}
.cropArea {
  overflow: hidden;
  width: 100%;
  height: 86%;
  position: relative;
}
div.upload input {
  display: block !important;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}
.jr-crop {
  background-color: #000;
  overflow: hidden;
}
.jr-crop-center-container {display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.jr-crop-img{opacity:0.6;}
div.upload {
  width: 200px;
  height: 100px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-repeat: no-repeat;
}
/* End of JR-Image-Crop */


/* For ionic drawer */
drawer{
  display: block;
  position: fixed;
  width: 270px;
  height: 100%;
  z-index: 100;
  background: #ffffff;
  &.animate {
	  -webkit-transition: 0.2s all ease-in-out;
	  transition: 0.2s all ease-in-out;
	}
	&.left {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
	}
	&.right {
	  right: 0;
	  top: 0;
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	  box-shadow: -1px 0px 10px rgba(0,0,0,0.3);
	}
}
.sideOnMenuOpen {
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  height: 100%;
}
/* End ionic drawer */